<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{118,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,157}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>black10.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,242},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>black11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>black12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>black13.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,313},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,367},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>black3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,360},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>black4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,354},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>black5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,327},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>black6.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,346},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>black7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,354},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>black8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,340},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>black9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,333},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>color_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,228},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>color_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,81},{71,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,78}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>color_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,154},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>color_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>color_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,387},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>color_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,394},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>color_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,398},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>color_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,381},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>foreground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,157}}</string>
                <key>sourceSize</key>
                <string>{118,157}</string>
            </dict>
            <key>red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,278},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>red10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,242},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>red11.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,373},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>red12.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,278},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>red13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,300},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,327},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>red3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,300},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>red4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,300},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>red5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,313},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>red6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>red7.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,376},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>red8.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,340},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>red9.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,304},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>robcows_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23de0ed490911ed878bb4d45566bb6f2:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
